<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <a *ngIf="!isSLogo" href="#"><img class="user-avatar" src="assets/images/XL_Axiata-Logo.wine.svg" width="150px" /></a>
    <a *ngIf="isSLogo"  href="#"><img class="user-avatar-small" src="assets/images/single logo.png" width="40px" /></a>
    <div class="list-group">
        <!-- <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>Dashboard</span>
        </a> -->
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/all-ticket']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>All Tickets</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/my-ticket']" class="list-group-item">
            <i class="fa fa-fw fa-ticket"></i>&nbsp;
            <span>My Tickets</span>
        </a>

        <div class="header-fields">
            <div class="nested-menu">
                <a (click)="addExpandClass('profile')" class="list-group-item">
                    <span><i class="fa fa-user"></i>&nbsp; Intan</span>
                </a>
                <li [class.expand]="showMenu === 'profile'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> Role: Admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> Profile</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="onLoggedout()" [routerLink]="['/login']">
                                <span><i class="fa fa-fw fa-power-off"></i>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!-- <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>Collapse Sidebar</span>
    </div> -->
</nav>
